pre {
    white-space: pre-line;
}

.title {
    text-transform: capitalize;
}

.columns {
    column-gap: 20px;
    column-count: 2;
}

@media (max-width: 576px) {
    .columns {
        column-count: 1;
    }
}

.header {
    background-image: url('https://images.pexels.com/photos/724712/pexels-photo-724712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position:left;
}

.Kasia {
    
}